.navigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;


}

.navigationItem a {
    color: rgb(70, 26, 26);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;

}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {

    color: rgb(54, 30, 139);
}

@media (min-width:500px) {
    .navigationItem {
        margin: 0;
        width: auto;
        display: flex;
        height: 100%;
        align-items: center;

    }

    .navigationItem a {
        color: white;

        height: 100%;
        padding: 16px 10px;
        border-bottom: 4x solid transparent;


    }

    .navigationItem a:hover,
    .navigationItem a:active,
    .navigationItem a.active {
        background-color: rgb(110, 27, 55);
        border-bottom: 4px solid rgb(104, 60, 146);
        color: white;
    }
}