.contactData {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 2px 3px rebeccapurple;
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 10px;

}

.input {
    display: block;
}

@media (min-width:600px) {
    .contactData {
        width: 500px
    }
}